*
!/**/
!*.*
**/__pycache__
**/*.DS_Store
.vscode
**/*.zip
**/*.gz
Project_2_temp.ipynb
proj_5b_6320/results
**/*.pth
proj_5b_6320/KITTI2015_Stereo
proj_5b_6320/training
proj_5b_6320/testing
!proj_5b_6320/mc_cnn_trained_w11.pth
proj6_6320/6320_Spring2020_Proj5.egg-info
proj1_6320/4676_Fall2019_Proj1.egg-info
proj1_6320/6320_Spring2020_Proj1.egg-info
